@{
    Layout = null;
}

<form name="add">
    <table class="popup-table">
        <tbody>
            <tr>
                <td><input name="fio" placeholder="ФИО" type="text" /></td>
            </tr>
            <tr>
                <td class="departments">
                </td>
            </tr>
            <tr>
                <td class="positions">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="phone" placeholder="Телефон" type="text" data-inputmask="'mask' : '8-999-999-99-99'"/>
                </td>
            </tr>
            <tr>
                <td><input name="photo" type="file" /></td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Создать</button>
</form>
