@{
    Layout = null;
}

<form name="addDepartment">
    <table class="popup-table">
        <tbody>
            <tr>
                <td><input name="name" placeholder="Название" type="text" /></td>
            </tr>
            <tr>
                <td class="departments">
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Создать</button>
</form>
